.navbar {
  font-size: 25px;
  color: white;
  margin-bottom: 50px;
  background-color: #5133a4;
}

.gameName {
  display: inline-block;
  margin-left: 10px;
  margin-right: 200px;
}

.guessText {
  display: inline-block;
  margin-right: 375px;
}

.currentScoreText {
  display: inline-block;
  /* float: right; */
  margin-right: 25px;
}

.highScoreText {
  /* display: inline-block; */
  float: right;
  margin-right: 10px;
}